/vendor

.env
.env*

.idea

angular-frontend/node_modules
angular-frontend/bower_components


public/images
public/fonts
public/css
public/js

public/admin/images
public/admin/fonts
public/admin/css
public/admin/js
