<section class="sign_in_module row">
    <div class="col-xs-4 col-xs-offset-4 row">
        <div class="sign_in_module_header">
            <a href=""><img src="/admin/images/logo.png"></a>
        </div>
        <div class="sing_in_content">
            <form name="form" ng-submit="login()"><!--username-->
                <div class="form-group">
                    <input required="" class="form-control" nc-placeholder="Email" ng-model="data.email"  name="email" id="email" type="text" />
                </div>
                <span ng-show="form.$submitted && form.email.$error.required">
                    sss
                </span>
                <!--password-->
                <div class="form-group">
                    <input required=""  nc-placeholder="Password" class="form-control" ng-model="data.password" id="password" type="password" />
                </div>
                <!--submit-->
                <div class="form-group">
                    <button class="btn btn-success btn-login full-length"  ng-model="data.submit_button" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</section>
