$font-stack: 'Open Sans Condensed', sans-serif;
$bigBoy: 60px;
$darkBlue: #34495e;
$lightBlue: #3498db;
$lightBlueAlt: #2980b9;
$headersMargin: 0px 0px 10px;

html{
  height: 100%;
}
body {
  font: normal 18px $font-stack;
  margin: 0px;
  @extend html;
}
.container{
  position: relative;
  min-height: 100%;
}
.sign_in{
  background: $darkBlue;
  .container{
    color: white;
  }
}
.sign_in_module{
  margin-top: 150px;
}
.sign_in_module_header{
  text-align: center;
  h1{
     font: normal $bigBoy $font-stack !important;
     margin: $headersMargin;
  }
  h2{
    margin: $headersMargin;
  }
}
.sing_in_content{
  text-emphasis: center;
  .form-control{
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid $lightBlue;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    font-size:16px;
  }
  .form-group{
    margin: 35px 0px 0px;
    position: relative;
  }
  .form-control::-webkit-input-placeholder {color:#fff;}
  .btn-login{
    font-weight: bold;
    background-color: $lightBlue !important;
    border-color: $lightBlue !important;
  }
  .btn-login:hover{
    background-color: $lightBlueAlt !important;
    border-color: $lightBlueAlt !important;
  }
}
.view-animate-container {
  position:relative;
  height:100px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.fake-placeholder {
  position: absolute;
  top: -20px;
  left: 12px;
  font-size: 16px;
}

.fake-placeholder.ng-enter, .fake-placeholder.ng-leave {
  -webkit-transition:all linear 0.1s;
  transition:all linear 0.1s;
}

.fake-placeholder.ng-enter,
.fake-placeholder.ng-leave.ng-leave-active {
  /*opacity:0;*/
  top: -6px;
}

.fake-placeholder.ng-leave,
.fake-placeholder.ng-enter.ng-enter-active {
  top: -20px;
}
.full-length{
  width: 100%;
}