$font-stack: 'Open Sans Condensed', sans-serif;
$bigBoy: 60px;
$darkBlue: #515a63;

html{
  height: 100%;
}
body {
  font: normal 18px $font-stack;
  margin: 0px;
  @extend html;
}
.container{
  position: relative;
  min-height: 100%;
}
.sign_in{
  background: $darkBlue;
  .container{
    color: white;
  }
}
.sign_in_module{
  margin-top: 150px;
}
.sign_in_module_header{
  text-align: center;
  span{
     font: normal $bigBoy $font-stack !important;
      }
}
.sing_in_content{
  text-emphasis: center;
}